<%- include('../partials/header.ejs') %>

  <h3>Sign up here</h3>

  <p><%= message %></p>

  <form method="POST" action="/auth/register">
    <fieldset>
      <legend>
        <small>
          Choose a username and password below
        </small>
      </legend>
      <div>
        <label for="username">Username:</label>
        <input 
          id="username" 
          type="text" 
          name="username" 
          placeholder="Choose a username" 
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input 
          id="password"
          type="password" 
          name="password"
          placeholder="Choose a password"
        >
      </div>
      <button>Sign up!</button>
    </fieldset>
  </form>


  <script type="text/javascript">
    console.log('hello')
    // stretch: validate password with client-side JS
    // make sure it meets some criteria 
    // certain # of chars, 
    // numbers and letters
    // require a special characcter
    // require upper and lowercase
    // play with regex
    // hints -- add an event listener to the form
    // if the password is no good, then prevent default
    // and add a message to the page saying here's why your pw sucks
    // and (bonus!) highlight the field in red or something
  </script>


<%- include('../partials/footer.ejs') %>