<!DOCTYPE html>
<html>
<head>
	<title>Dogs Conditional Lab</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/dogs">Dogs</a>
</nav>


