<!DOCTYPE html>
<html>
<head>
	<title>Dogs Conditional Lab</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/dogs">Dogs</a>
	<a href="/dogs/new">Add Dog</a>
</nav>

<nav>
  <a href="/auth/register">Register</a>|
  <a href="/auth/login">Log in</a> |
  <a href="/auth/logout">Log out</a>
</nav>


