<%- include('./partials/header.ejs') %>

  <h3>Welcome to the Dog App!</h3>
 	 <div style="width: 300px">
 		<img style="width: 100%" src="https://i.imgur.com/IHHFL6F.jpg" />
 	 </div>

  <%
    if(currentMood !== undefined) {
      %>
        <p>You were most recently feeling: <%= currentMood %></p>
      <% 
    }
  %>

  <%= message %>

<%- include('./partials/footer.ejs') %>