<%- include('../partials/header.ejs') %>


	<h2>All the dogs</h2>

	<ul>
		<% foundDogs.forEach((dog) => { %>
		<li>
			<div>
				<strong>
					<a href="/dogs/<% dog.id %>">
						<%= dog.name %>
					</a>
				</strong>
			</div>
		</li>
			
		<% }) %>
	</ul>

<%- include('../dogs/nav.ejs') %>	


<%- include('../partials/footer.ejs') %>