<%- include('../partials/header.ejs') %>

  <%- include('./nav.ejs') %>

  <h3>Add a dog</h3>

  <form method="POST" action="/dogs">
    <fieldset>
      <legend>Enter a new dog here</legend>
      <div>
        <label for="name"></label>
        <input type="text" name="name" id="name" placeholder="Enter dog's name" />
      </div>
      <div>
        <label for="age"></label>
        <input type="number" name="age" id="age" placeholder="Enter dog's age" />
      </div>
      <div>
        <label for="breed"></label>
        <input type="text" name="breed" id="breed" placeholder="Enter dog's breed" />
      </div>
      <button>Add the dog! WOOF</button>

    </fieldset>
  </form>

<%- include('../partials/footer.ejs') %>